@page "/Movie/{MovieId:int}/{MovieName}"
@inject HttpClient Http
<PageTitle>TMDB - @movie.Title</PageTitle>


<div class="MoveDetailnNavBar row">
    <div class="blurcontainer" />
    <MudCard class="DetailPoster" style=" width: 300px; height:520px" Elevation="0">
        <MudCardMedia Image=@("https://image.tmdb.org/t/p/w500/" + movie.PosterPath) Height="450" Width="300" />
        <MudCardContent>
            <MudText Typo="Typo.body2">@MovieName</MudText>
        </MudCardContent>
    </MudCard>


    <MudPaper class="column pa-16 ma-2" MaxHeight="82vh" MaxWidth="45vw" Elevation="0">
        <MudText Typo="Typo.h4">
            <b>@movie.Title</b>
        </MudText>
        <span>
            @foreach (var item in movie.Genres)
            {
                <MudChip Color="Color.Default" Variant="Variant.Text">@item.Name</MudChip>
            }
        </span>
        <span>Duration: @movie.Runtime <text>Min</text></span>
        <MudDivider DividerType="DividerType.Middle" Class="my-4" />

        <MudSpacer />
        

        <MudText Typo="Typo.h5">Synopsis</MudText>
        <MudText Typo="Typo.caption"><i>@movie.Overview</i></MudText>
    </MudPaper>
    <MudPaper class="column2 d-flex align-content-end flex-wrap flex-grow-1 gap-4" MaxHeight="100%" MaxWidth="30vw" Elevation="0">

        <MudGrid Justify="Justify.FlexStart">
        @foreach (var item in movie.Credits.Cast.Take(6))
        {
            
                <MudItem xs="12" sm="6" style="justify-items: center;">
                    <div style="float: left; auto">
                            <MudAvatar Class="mr-2 ml-2 mb-2" Image=@("https://image.tmdb.org/t/p/w45/" + item.ProfilePath) />
                        </div>
                    <div>
                        <MudText Typo="Typo.caption">
                        <span>@item.Name<MudSpacer/>
                        @item.KnownForDepartment</span>
                        </MudText> 
                    </div>
                </MudItem>
        }
        </MudGrid>
    </MudPaper>
</div>








@code {
    [Parameter] public int? MovieId { get; set; }
    [Parameter] public string? MovieName { get; set; }
    private Movie? movie { get; set; } = new Movie();


    protected override async Task OnInitializedAsync()
    {
        movie = await Http.GetFromJsonAsync<Movie>($"/api/Details/{MovieId}");
    }

}


<style>
    .row {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap;
        /* IE10 */
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .column {
        -ms-flex: 25%;
        /* IE10 */
        flex: 25%;
        padding: 0 4px;
        z-index: 1;
        background-color: transparent;
        margin-top: 30px !important;
    }

    .column2 {
        -ms-flex: 25%;
        /* IE10 */
        flex: 25%;
        padding: 0 4px;
        z-index: 4;
        background-color: rgba(26, 26, 39, 0.5);
        margin-top: 0px !important;
        backdrop-filter: blur(50px);
    }

.cast-crew{
    margin-right: 8px;
}

    .MoveDetailnNavBar {
        width: 100vw;
        position: relative;
        left: calc(-53vw + 53%);
        height: 90vh;
        padding: 0px;
        background-image: url(https://www.themoviedb.org/t/p/w1280/@movie.BackdropPath);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }

    .MoveDetailnNavBar .DetailPoster {
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        margin-top: auto;
        margin-bottom: auto;
        background-color: rgba(26, 26, 39, 0.2);
        z-index: 1;
    }

    .MoveDetailnNavBar .blurcontainer {
        background: rgba(26, 26, 39, 0.7);
        backdrop-filter: blur(50px);
        float: right;
        height: 90vh;
        width: 100vw;
        position: absolute;
        right: 0;
    }


    .mud-main-content {
        /* padding-top: var(--mud-appbar-height); */
    }

    .mud-main-content {
        margin: 0;
        flex: 1 1 auto;
        padding-top: 0;
        padding: 0 !important;
    }


    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        z-index: 1;
    }

    ::-webkit-scrollbar-thumb {
        background: #531b87;
        border-radius: 8px;
    }
</style>
